
*{
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  flex-direction: row;

} 
#barra_lateral{
    border: black 1px solid;
    width: 18vw;
    height: 99.8vh;
    justify-content: center;
    display: flex;
    
}
#barra_lateral h1{
    padding: 3vh;
    font-size: 44pt;
    
    
}
.cont_nav{
    font-size: 22pt;
    margin-left: 15px;
    margin-top: 3px;
    
    
}

#nav_lateral{
    flex-direction: column;
    display: flex;
    width: 16vw;
    height: 70vh;
    border: solid rgba(0, 0, 0, 0.381) 2px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.436);
    
    
}
.icn_lat{
    
    height: 2.9vh;
    width: 1.8vw;
}
.incaps_lat{
    display: flex;
    text-align: center;
    margin-left: 15px;
    margin-top: 5vh;
    
}
main{
    width: 100vw;
    height: auto;
    background-color:darkgray;
    
}
#container{
    border: solid 1px rgb(255, 0, 251);
    display: flex;
    background-color: aqua;
    height: 39vh;

}
/*  lado direito*/
#catalago_filme{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
}
#post_film{
   background-color: purple;
    height: 30vh;
    width: 38vw;
    border-radius: 20px;
}
#tit_film{
   background-color: blue;
    width: 100%;
    height: 5.1vh;
    text-align: center;
    align-content: center;
}
#tit_film h6{
    font-size: 28pt;
    
}
#botoes_catalago{
    background-color: brown;
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.btn_cont{
    font-size: 18pt;
    border-radius: 25px;
    height: 3.5vh;
    width: 10vw;
    
}
.inc_btn{
    width: 100%;
    height: 4vh;
}
.btn_cont img{
    height: 70%;
    width: 20%;
}
.incapsulamento_btn{
    back
}
/* lado esquerdo */

#escolha_filme{
    
    height:35vh;
    width:50%;
}
